

.main {
    height: 600px;
    position: relative;
  }
  
  .overtext_cover {
    width: 1360px;
    height: 310px;
    font-size: 96px;
    font-weight: 700;
    line-height: 105px;
    color: white;
    padding-left: 40px;
    padding-top: 70px;
  }

  .btn_cover{
    cursor: pointer;
  }





  @media (max-width: 980px) {
    h1 {
      font-size: 64px;
    }
  }